# WhatsApp Cloud API
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_VERIFY_TOKEN=
PORT=3000

# Supabase
SUPABASE_URL=https://ybudjheaklpdvzdkayvw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

# Opcional: si prefieres reutilizar el mismo valor del proyecto Flutter para lectura pública
SUPABASE_ANON_KEY=
